html {font-size:100%;}
body {margin:0px;box-sizing:border-box;}
h1,h2,h3,h4 {margin:0.5em;}
p {margin:0;padding:0.2em;}
a {text-decoration:none;}

.uuid {font-size:small;}
.spacer {margin:0.5em;}
.loremipsum {margin:1em;}

#bigger {margin:1em;}
#smaller {margin:1em;}
